<strong>Olá, {{ organizer }}</strong>
<p>Há uma nova inscrição para um meetup que você está organizando:</p>
<p>
	<strong>Meetup: </strong> {{ title }} <br />
	<strong>Data/Hora: </strong> {{ date }} <br />
	<strong>Usuário: </strong> {{ name }} ({{ email }}) <br />
</p>
